#/etc/systemd/system/op-scim.service
[Unit]
Description=1Password SCIM bridge
Requires=docker.service
After=docker.service

[Service]
Type=simple
RemainAfterExit=yes
WorkingDirectory=/path/to/directory/containing/docker-compose.yml
ExecStart=/usr/local/bin/docker-compose up -d
ExecStop=/usr/local/bin/docker-compose down
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target

