services:
  redis:
    image: redis
    configs:
      - source: redis
        target: /usr/local/etc/redis/redis.conf
    command: redis-server /usr/local/etc/redis/redis.conf
    networks:
      - op-scim
    deploy:
      resources:
        reservations:
          cpus: "0.125"
          memory: 256M
        limits:
          cpus: "0.25"
          memory: 512M
      restart_policy:
        condition: any
    healthcheck:
      test: ["CMD-SHELL", "redis-cli ping | grep PONG"]
      interval: 1s
      timeout: 3s
      retries: 5
  scim:
    image: 1password/scim:v2.8.2
    depends_on:
      - redis
    secrets:
      - scimsession
    environment:
      - OP_TLS_DOMAIN
    env_file: ./scim.env
    networks:
      - op-scim
    ports:
      - "443:8443"
    deploy:
      resources:
        reservations:
          cpus: "0.125"
          memory: 256M
        limits:
          cpus: "0.25"
          memory: 512M
      restart_policy:
        condition: any
networks:
  op-scim:
    name: op-scim
configs:
  redis:
    name: op-redis-config
    file: ./redis.conf
secrets:
  scimsession:
    name: scimsession
    file: ./scimsession
